<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>2019年4月安徽自考专科/本科考试科目安排表-安徽自考网</title>
	<meta name="Keywords" content="安徽自考考试科目安排表,安徽自考网"/>
	<meta name="Description" content="安徽自考网为广大安徽自考生整理提供2019年4月自学考试专科/本科考试科目安排表，请各位考生查看自己专业科目情况，及时做好时间安排..."/>
	<link rel="stylesheet" href="{:getDoman()}/css/wsbm.css">
	<link rel="stylesheet" href="{:getDoman()}/css/lyz.wsbm.css">
	<link rel="canonical" href="{:getDoman()}/kemu.html">
	<style type="text/css">
		.kemu table tbody tr td:first-child{text-align:center;}
		.kemu table tbody tr:hover{background:#e4e4e4;}
		.jz{text-align:center;font-weight:600;}
	</style>
</head>
<body>
	<div id="width"></div>
	<div id="top">
		<div class="title">
			<h1><a href="{:getDoman()}/kemu.html" title="2019年4月安徽自考专科/本科考试科目安排表" target="_self">2019年4月安徽自考专科/本科考试科目安排表</a></h1>
		</div>
		<div class="time" id="nowtime"></div>
	</div>
	<div id="header">
		<a href="{:getDoman()}" target="_blank">自考首页</a>
		<a href="{:getDoman()}/wsbm.html" target="_self">网上报名</a>
		<a href="{:getDoman()}/kemu.html" class="active" target="_self">考试科目</a>
		<a href="{:getDoman()}/cjcx.html" target="_self">成绩查询</a>
	</div>
	<div class="kemu">
      	<h2>2019年4月安徽自考专科考试科目安排表</h2>
		<table style="width:100%;" bordercolor="#333" border="1" cellspacing="0">
			<tbody>
				<tr class="jz">
					<td rowspan="2" style="width:30px;">
						序号
					</td>
					<td rowspan="2">
						专科专业
					</td>
					<td colspan="2">
						4月13日(星期六)
					</td>
					<td colspan="2">
						4月14日(星期天)
					</td>
				</tr>
				<tr class="jz">
					<td>
						上午(9:00-11:30)
					</td>
					<td>
						下午(2:30-5:00)
					</td>
					<td>
						上午(9:00-11:30)
					</td>
					<td>
						下午(2:30-5:00)
					</td>
				</tr>
				<tr>
					<td>
						1
					</td>
					<td>
						金融(020105)<br/>
					</td>
					<td>
						银行信贷管理学(00073)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)<br/>
					</td>
					<td>
						政治经济学(财经类)(00009)<br/>计算机应用基础(00018)<br/>商业银行业务与经营(00072)<br/>思想道德修养与法律基础(03706)<br/>
					</td>
					<td>
						基础会计学(00041)<br/>中央银行概论(00074)<br/>
					</td>
					<td>
						高等数学(一)(00020)<br/> 财政学(00060)<br/>大学语文(04729)<br/>
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						工商企业管理(020201)
					</td>
					<td>
						市场营销学(00058)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						政治经济学(财经类)(00009)<br/>计算机应用基础(00018)<br/>中国税制(00146)<br/>市场调查与预测(00178)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						基础会计学(00041)<br/>生产与作业管理(00145)
					</td>
					<td>
						高等数学(一)(00020)<br/>企业管理概论(00144)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						3
					</td>
					<td>
						会计(020203)
					</td>
					<td>
						管理会计(一)(00157)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						政治经济学(财经类)(00009)<br/>计算机应用基础(00018)<br/>中国税制(00146)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						基础会计学(00041)<br/>中级财务会计(00155)
					</td>
					<td>
						高等数学(一)(00020)<br/>企业管理概论(00144)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						4
					</td>
					<td>
						市场营销(020207)
					</td>
					<td>
						市场营销学(00058)<br/>谈判与推销技巧(00179)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						政治经济学(财经类)(00009)<br/>计算机应用基础(00018)<br/>市场调查与预测(00178)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						基础会计学(00041)<br/>消费心理学(00177)<br/>公共关系学(00182)
					</td>
					<td>
						高等数学(一)(00020)<br/>企业管理概论(00144)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						5
					</td>
					<td>
						旅游管理(020209)
					</td>
					<td>
						旅游学概论(06011)<br/>导游学概论(06123)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						专业英语(00196)<br/>思想道德修养与法律基础(03706)<br/>现代饭店管理(10897)
					</td>
					<td>
						旅游统计学(10898)
					</td>
					<td>
						旅游市场学(00192)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						6
					</td>
					<td>
						电子商务(020215)
					</td>
					<td>
						市场信息学(00893)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						商务交流(二)(00892)<br/>互联网软件应用与开发(00898)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						基础会计学(00041)<br/>网页设计与制作(00900)
					</td>
					<td>
						经济学(二)(00889)<br/>电子商务案例分析(00902)
					</td>
				</tr>
				<tr>
					<td>
						7
					</td>
					<td>
						会计电算化(020242)
					</td>
					<td>
						毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						政治经济学(财经类)(00009)<br/>计算机应用基础(00018)<br/>中国税制(00146)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						基础会计学(00041)<br/>中级财务会计(00155)
					</td>
					<td>
						高等数学(一)(00020)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						8
					</td>
					<td>
						法律(030112)
					</td>
					<td>
						国际法(00247)<br/>宪法学(05679)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						刑法学(00245)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						刑事诉讼法学(00260)
					</td>
					<td>
						大学语文(04729)<br/>法理学(05677)
					</td>
				</tr>
				<tr>
					<td>
						9
					</td>
					<td>
						行政管理(030301)
					</td>
					<td>
						市政学(00292)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						计算机应用基础(00018)<br/>现代管理学(00107)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						公共关系学(00182)<br/>行政管理学(00277)
					</td>
					<td>
						英语(一)(00012)<br/>法学概论(00040)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						10
					</td>
					<td>
						公安管理(030403)
					</td>
					<td>
						宪法学(05679)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						刑法学(00245)<br/>公安秘书学(00355)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						刑事诉讼法学(00260)<br/>治安管理学(00357)
					</td>
					<td>
						预审学(00360)
					</td>
				</tr>
				<tr>
					<td>
						11
					</td>
					<td>
						学前教育(040101)
					</td>
					<td>
						学前儿童发展(12340)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						幼儿园教育活动设计与组织(30002)<br/>学前儿童艺术教育(30005)
					</td>
					<td>
						教师职业道德与专业发展(09277)<br/>学前儿童健康教育(30004)
					</td>
					<td>
						学前儿童社会教育(30006)
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						小学教育(040103)
					</td>
					<td>
						教育原理(00405)<br/>学校管理学(00448)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						小学教育科学研究(00406)<br/>现代教育技术(00413)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						心理学(00031)<br/>中外文学作品导读(00415)<br/>高等数学基础(00417)
					</td>
					<td>
						汉语基础(00416)<br/>数论初步(00418)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						心理健康教育(040109)
					</td>
					<td>
						教育学(一)(00429)<br/>心理健康教育概论(05615)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						教育心理学(02111)<br/>思想道德修养与法律基础(03706)<br/>青少年心理卫生(05618)
					</td>
					<td>
						心理学(00031)
					</td>
					<td>
						心理统计(02110)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						秘书(050102)
					</td>
					<td>
						现代汉语基础(00854)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						当代中国政治制度(00315)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						公共关系学(00182)<br/>秘书实务(00510)
					</td>
					<td>
						英语(一)(00012)<br/>社会学概论(00034)<br/>法学概论(00040)<br/>企业管理概论(00144)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						汉语言文学(050114)
					</td>
					<td>
						普通逻辑(00024)<br/>现代汉语(00535)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						中国现代文学作品选(00530)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						写作(一)(00506)
					</td>
					<td>
						英语(一)(00012)<br/>中国古代文学作品选(一)(00532)
					</td>
				</tr>
				<tr>
					<td>
						16
					</td>
					<td>
						英语(050207)
					</td>
					<td>
						英语阅读(一)(00595)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						综合英语(一)(00794)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						英语国家概况(00522)
					</td>
					<td>
						综合英语(二)(00795)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						日语(050208)
					</td>
					<td>
						日本国概况(00608)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						日语阅读(一)(00843)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						日语语法(00607)
					</td>
					<td>
						基础日语(一)(00605)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						服装艺术设计(050402)
					</td>
					<td>
						服装美学(05336)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						思想道德修养与法律基础(03706)<br/>中国服装史(10896)
					</td>
					<td>
						&nbsp;
					</td>
					<td>
						服装材料学(03908)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						艺术设计(050436)
					</td>
					<td>
						设计概论(00688)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						思想道德修养与法律基础(03706)<br/>设计美学(04026)
					</td>
					<td>
						构成基础理论(10899)
					</td>
					<td>
						大学语文(04729)<br/>包装设计理论与实务(10900)
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						机电一体化工程(080306)
					</td>
					<td>
						机械制图(一)(02183)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						电子技术基础(一)(02234)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						机械设计基础(02185)
					</td>
					<td>
						英语(一)(00012)<br/>高等数学(工专)(00022)<br/>微型计算机原理与接口技术(02205)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						计算机及应用(080701)
					</td>
					<td>
						计算机应用技术(02316)<br/>计算机组成原理(02318)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						线性代数(02198)<br/>思想道德修养与法律基础(03706)<br/>电子技术基础(三)(04730)
					</td>
					<td>
						计算机网络技术(02141)
					</td>
					<td>
						英语(一)(00012)<br/>高等数学(工专)(00022)<br/>操作系统概论(02323)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						22
					</td>
					<td>
						房屋建筑工程(080801)
					</td>
					<td>
						工程力学(二)(02391)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						计算机应用基础(00018)<br/>结构力学(一)(02393)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						土木工程制图(02386)
					</td>
					<td>
						高等数学(工专)(00022)<br/>建筑材料(02389)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						汽车维修与检测(081725)
					</td>
					<td>
						机械制图(一)(02183)<br/>汽车运用工程(06898)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						计算机应用基础(00018)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						机械设计基础(02185)<br/>汽车车身电控技术(06903)
					</td>
					<td>
						英语(一)(00012)<br/>高等数学(工专)(00022)
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						计算机信息管理(082207)
					</td>
					<td>
						计算机应用技术(02316)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						计算机原理(02384)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						基础会计学(00041)<br/>计算机网络技术(02141)
					</td>
					<td>
						英语(一)(00012)<br/>高等数学(工专)(00022)<br/>企业管理概论(00144)<br/>管理信息系统(02382)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						25
					</td>
					<td>
						工程造价管理(082214)
					</td>
					<td>
						建筑工程识图与构造(06958)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						计算机应用基础(00018)<br/>思想道德修养与法律基础(03706)<br/>土建工程施工与计划(06966)
					</td>
					<td>
						工程经济概论(06959)<br/>工程计量与计价(09415)
					</td>
					<td>
						高等数学(工专)(00022)<br/>合同法与合同管理(06960)
					</td>
				</tr>
				<tr>
					<td>
						26
					</td>
					<td>
						护理学(100701)
					</td>
					<td>
						健康教育学(00488)<br/>护理学基础(02997)<br/>毛泽东思想和中国特色社<br/>会主义理论体系概论(12656)
					</td>
					<td>
						营养学(03000)<br/>生物化学(三)(03179)<br/>思想道德修养与法律基础(03706)
					</td>
					<td>
						微生物学与免疫学基础(02864)
					</td>
					<td>
						生理学(02899)<br/>儿科护理学(一)(03003)<br/>大学语文(04729)
					</td>
				</tr>
			</tbody>
		</table><br/><br/>
      <h2 >2019年4月安徽自考本科考试科目安排表</h2>
        <table style="width:100%;" bordercolor="#333" border="1" cellspacing="0">
			<tbody>
				<tr class="jz">
					<td rowspan="2" style="width:30px;">
						序号
					</td>
					<td rowspan="2">
						本科专业
					</td>
					<td colspan="2">
						4月13日(星期六)
					</td>
					<td colspan="2">
						4月14日(星期天)
					</td>
				</tr>
				<tr class="jz">
					<td>
						上午(9:00-11:30)
					</td>
					<td>
						下午(2:30-5:00)
					</td>
					<td>
						上午(9:00-11:30)
					</td>
					<td>
						下午(2:30-5:00)
					</td>
				</tr>
				<tr>
					<td>
						1
					</td>
					<td>
						金融(020106)
					</td>
					<td>
						管理系统中计算机应用(00051)<br/>市场营销学(00058)<br/>保险学原理(00079)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						管理学原理(00054)<br/>金融理论与实务(00150)<br/>马克思主义基本原理概论(03709)<br/>线性代数(经管类)(04184)
					</td>
					<td>
						银行会计学(00078)<br/>概率论与数理统计(经管类)(04183)
					</td>
					<td>
						英语(二)(00015)
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						经济学(020115)
					</td>
					<td>
						管理系统中计算机应用(00051)<br/>西方经济学(00139)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						政治经济学(财经类)(00009)<br/>发展经济学(00141)<br/>马克思主义基本原理概论(03709)<br/>线性代数(经管类)(04184)
					</td>
					<td>
						概率论与数理统计(经管类)(04183)
					</td>
					<td>
						英语(二)(00015)<br/>国际经济学(00140)
					</td>
				</tr>
				<tr>
					<td>
						3
					</td>
					<td>
						工商企业管理(020202)
					</td>
					<td>
						管理系统中计算机应用(00051)<br/>企业经营战略(00151)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						管理学原理(00054)<br/>金融理论与实务(00150)<br/>马克思主义基本原理概论(03709)<br/>线性代数(经管类)(04184)
					</td>
					<td>
						质量管理(一)(00153)<br/>概率论与数理统计(经管类)(04183)
					</td>
					<td>
						英语(二)(00015)<br/>组织行为学(00152)
					</td>
				</tr>
				<tr>
					<td>
						4
					</td>
					<td>
						会计(020204)
					</td>
					<td>
						管理系统中计算机应用(00051)<br/>市场营销学(00058)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						金融理论与实务(00150)<br/>马克思主义基本原理概论(03709)<br/>线性代数(经管类)(04184)
					</td>
					<td>
						高级财务会计(00159)<br/>审计学(00160)<br/>概率论与数理统计(经管类)(04183)
					</td>
					<td>
						英语(二)(00015)<br/>资产评估(00158)
					</td>
				</tr>
				<tr>
					<td>
						5
					</td>
					<td>
						市场营销(020208)
					</td>
					<td>
						管理系统中计算机应用(00051)<br/>商品流通概论(00185)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						金融理论与实务(00150)<br/>马克思主义基本原理概论(03709)<br/>线性代数(经管类)(04184)
					</td>
					<td>
						市场营销策划(00184)<br/>概率论与数理统计(经管类)(04183)
					</td>
					<td>
						英语(二)(00015)<br/>消费经济学(00183)
					</td>
				</tr>
				<tr>
					<td>
						6
					</td>
					<td>
						旅游管理(020210)
					</td>
					<td>
						西方经济学(00139)<br/>旅游资源规划与开发(00197)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						旅游管理信息系统(03525)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						旅游企业财务管理(10880)
					</td>
					<td>
						企业管理概论(00144)<br/>组织行为学(00152)
					</td>
				</tr>
				<tr>
					<td>
						7
					</td>
					<td>
						企业财务管理(020213)
					</td>
					<td>
						管理系统中计算机应用(00051)<br/>市场营销学(00058)<br/>管理会计(一)(00157)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						中国税制(00146)<br/>金融理论与实务(00150)<br/>马克思主义基本原理概论(03709)<br/>线性代数(经管类)(04184)
					</td>
					<td>
						审计学(00160)<br/>概率论与数理统计(经管类)(04183)
					</td>
					<td>
						英语(二)(00015)<br/>资产评估(00158)
					</td>
				</tr>
				<tr>
					<td>
						8
					</td>
					<td>
						电子商务(020216)
					</td>
					<td>
						互联网数据库(00911)<br/>电子商务法概论(00996)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						网络营销与策划(00908)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						数量方法(二)(00994)
					</td>
					<td>
						英语(二)(00015)<br/>电子商务与金融(00913)
					</td>
				</tr>
				<tr>
					<td>
						9
					</td>
					<td>
						人力资源管理(020218)
					</td>
					<td>
						管理系统中计算机应用(00051)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						管理学原理(00054)<br/>马克思主义基本原理概论(03709)<br/>人力资源开发与管理(06093)
					</td>
					<td>
						公共关系学(00182)<br/>绩效管理(05963)
					</td>
					<td>
						英语(二)(00015)<br/>组织行为学(00152)<br/>人员素质测评理论与方法(06090)
					</td>
				</tr>
				<tr>
					<td>
						10
					</td>
					<td>
						建筑经济管理(020221)
					</td>
					<td>
						西方经济学(00139)<br/>中国近现代史纲要(03708)<br/>工程项目管理(06087)
					</td>
					<td>
						线性代数(02198)<br/>马克思主义基本原理概论(03709)<br/>建筑工程管理与法规(06219)
					</td>
					<td>
						概率论与数理统计(二)(02197)<br/>工程招标与合同管理(06289)<br/>土木工程概论(06393)
					</td>
					<td>
						英语(二)(00015)<br/>管理信息系统(02382)
					</td>
				</tr>
				<tr>
					<td>
						11
					</td>
					<td>
						法律(030106)
					</td>
					<td>
						合同法(00230)<br/>国际私法(00249)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						国际经济法概论(00246)<br/>公证与律师制度(00259)<br/>法律文书写作(00262)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						劳动法(00167)<br/>保险法(00258)
					</td>
					<td>
						英语(二)(00015)<br/>知识产权法(00226)<br/>税法(00233)
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						行政管理学(030302)
					</td>
					<td>
						普通逻辑(00024)<br/>公共政策(00318)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						当代中国政治制度(00315)<br/>行政组织理论(00319)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						中国文化概论(00321)<br/>秘书实务(00510)<br/>公务员制度(01848)
					</td>
					<td>
						英语(二)(00015)<br/>社会学概论(00034)
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						公安管理(030401)
					</td>
					<td>
						警察伦理学(00369)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						刑事证据学(00370)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
					</td>
					<td>
						英语(二)(00015)<br/>公安决策学(00371)<br/>大学语文(04729)
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						学前教育(040102)
					</td>
					<td>
						幼儿园课程(00394)<br/>学前教育原理(00398)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						学前卫生学(00385)<br/>马克思主义基本原理概论(03709)<br/>低幼儿童文学名著导读(12351)
					</td>
					<td>
						学前教育史(00402)<br/>学前教育心理学(00882)
					</td>
					<td>
						英语(二)(00015)<br/>学前儿童心理健康与辅导(12353)
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						教育学(040108)
					</td>
					<td>
						教育统计与测量(00452)<br/>中外教育简史(00464)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						心理卫生与心理辅导(00465)<br/>认知心理(00471)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						德育原理(00468)<br/>比较教育(00472)
					</td>
					<td>
						英语(二)(00015)<br/>教育法学(00453)<br/>课程与教学论(00467)
					</td>
				</tr>
				<tr>
					<td>
						16
					</td>
					<td>
						心理健康教育(040110)
					</td>
					<td>
						中国近现代史纲要(03708)<br/>变态心理学(一)(05626)
					</td>
					<td>
						认知心理(00471)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						临床心理学(05622)
					</td>
					<td>
						英语(二)(00015)<br/>心理学史(06056)
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						小学教育(040112)
					</td>
					<td>
						中外教育简史(00464)<br/>中国近现代史纲要(03708)<br/>小学艺术教育(06230)<br/>现代教育测量与评价学(06231)
					</td>
					<td>
						心理卫生与心理辅导(00465)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						德育原理(00468)<br/>比较教育(00472)
					</td>
					<td>
						英语(二)(00015)<br/>课程与教学论(00467)
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						秘书学(050104)
					</td>
					<td>
						管理系统中计算机应用(00051)<br/>中国秘书史(00523)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						现代管理学(00107)<br/>文书学(00524)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						中国文化概论(00321)<br/>中外秘书比较(00527)
					</td>
					<td>
						英语(二)(00015)<br/>公文选读(00525)
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						汉语言文学(050105)
					</td>
					<td>
						美学(00037)<br/>现代汉语语法研究(00821)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						马克思主义基本原理概论(03709)<br/>唐诗研究(09073)<br/>莎士比亚研究(10856)
					</td>
					<td>
						中国文化概论(00321)<br/>中国古代文学史(一)(00538)<br/>中学语文教学法(04579)
					</td>
					<td>
						英语(二)(00015)<br/>中国现代文学史(00537)
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						对外汉语(050140)
					</td>
					<td>
						中国古代文学(一)(01205)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						中国现当代文学(01207)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						西方文化与礼仪(01209)
					</td>
					<td>
						英语(二)(00015)<br/>对外汉语教学发展概论(01211)<br/>汉英语对比(01213)
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						英语(050201)
					</td>
					<td>
						英语翻译(00087)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						英语语法(00831)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						英语词汇学(00832)<br/>第二外语(日语)(00840)
					</td>
					<td>
						英美文学选读(00604)
					</td>
				</tr>
				<tr>
					<td>
						22
					</td>
					<td>
						日语(050202)
					</td>
					<td>
						现代汉语(00535)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						马克思主义基本原理概论(03709)
					</td>
					<td>
						日语翻译(00601)
					</td>
					<td>
						英语(一)(00012)<br/>高级日语(一)(00609)
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						英语教育(050206)
					</td>
					<td>
						英语翻译(00087)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						马克思主义基本原理概论(03709)<br/>英美报刊选读(10876)
					</td>
					<td>
						第二外语(日语)(00840)
					</td>
					<td>
						英美文学选读(00604)
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						广告学(050302)
					</td>
					<td>
						美学(00037)<br/>中国近现代史纲要(03708)<br/>电脑三维设计(07338)
					</td>
					<td>
						现代管理学(00107)<br/>中外广告史(00641)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						广播电视广告(00639)
					</td>
					<td>
						英语(二)(00015)<br/>平面广告设计(00640)<br/>广告摄影与摄像(10882)
					</td>
				</tr>
				<tr>
					<td>
						25
					</td>
					<td>
						新闻学(050305)
					</td>
					<td>
						传播学概论(00642)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						中外新闻作品研究(00661)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						公共关系学(00182)<br/>中国文化概论(00321)
					</td>
					<td>
						英语(二)(00015)<br/>新闻评论写作(00658)
					</td>
				</tr>
				<tr>
					<td>
						26
					</td>
					<td>
						环境艺术设计(050412)
					</td>
					<td>
						中国近现代史纲要(03708)<br/>中外建筑史(06216)
					</td>
					<td>
						马克思主义基本原理概论(03709)<br/>建筑工程管理与法规(06219)
					</td>
					<td>
						中国文化概论(00321)<br/>计算机辅助设计基础(01466)
					</td>
					<td>
						英语(二)(00015)
					</td>
				</tr>
				<tr>
					<td>
						27
					</td>
					<td>
						艺术设计(050437)
					</td>
					<td>
						中国近现代史纲要(03708)<br/>现代艺术设计史(10885)
					</td>
					<td>
						马克思主义基本原理概论(03709)<br/>CIS设计(10879)
					</td>
					<td>
						专业英语(一)(05033)<br/>视觉流程设计(10884)
					</td>
					<td>
						设计心理学(04462)
					</td>
				</tr>
				<tr>
					<td>
						28
					</td>
					<td>
						动画设计(050438)
					</td>
					<td>
						中国近现代史纲要(03708)<br/>动画视听语言(11733)
					</td>
					<td>
						剧本写作(03512)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						影视编导(03513)
					</td>
					<td>
						英语(二)(00015)
					</td>
				</tr>
				<tr>
					<td>
						29
					</td>
					<td>
						历史教育(060102)
					</td>
					<td>
						中国近现代史纲要(03708)<br/>中国史学史(10863)
					</td>
					<td>
						马克思主义基本原理概论(03709)<br/>现代国际关系(04716)
					</td>
					<td>
						近代国际关系(10864)
					</td>
					<td>
						英语(二)(00015)<br/>世界现(当)代史专题(00773)<br/>中国文化史(10675)
					</td>
				</tr>
				<tr>
					<td>
						30
					</td>
					<td>
						机电一体化工程(080307)
					</td>
					<td>
						机电一体化系统设计(02245)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						计算机软件基础(一)(02243)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						概率论与数理统计(二)(02197)<br/>现代设计方法(02200)
					</td>
					<td>
						英语(二)(00015)<br/>模拟数字电路基础(10893)
					</td>
				</tr>
				<tr>
					<td>
						31
					</td>
					<td>
						计算机及应用(080702)
					</td>
					<td>
						离散数学(02324)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						操作系统(02326)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						概率论与数理统计(二)(02197)<br/>计算机系统结构(02325)
					</td>
					<td>
						英语(二)(00015)<br/>计算机网络原理(04741)
					</td>
				</tr>
				<tr>
					<td>
						32
					</td>
					<td>
						计算机通信工程(080708)
					</td>
					<td>
						复变函数与积分变换(02199)<br/>程控交换与宽带交换(02372)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						物理(工)(00420)<br/>操作系统(02326)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						概率论与数理统计(二)(02197)
					</td>
					<td>
						英语(二)(00015)<br/>高等数学(工本)(00023)<br/>数据通信原理(02364)<br/>通信英语(02368)
					</td>
				</tr>
				<tr>
					<td>
						33
					</td>
					<td>
						计算机网络(080709)
					</td>
					<td>
						网络操作系统(02335)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						马克思主义基本原理概论(03709)
					</td>
					<td>
						计算机网络安全(04751)
					</td>
					<td>
						英语(二)(00015)<br/>高等数学(工本)(00023)<br/>计算机网络原理(04741)<br/>通信概论(04742)
					</td>
				</tr>
				<tr>
					<td>
						34
					</td>
					<td>
						软件工程(080720)
					</td>
					<td>
						离散数学(02324)<br/>中国近现代史纲要(03708)<br/>网络应用程序设计(07026)
					</td>
					<td>
						马克思主义基本原理概论(03709)<br/>软件开发工具与环境(07169)
					</td>
					<td>
						计算机网络技术(02141)<br/>概率论与数理统计(二)(02197)
					</td>
					<td>
						英语(二)(00015)<br/>管理信息系统(02382)<br/>信息安全(07172)
					</td>
				</tr>
				<tr>
					<td>
						35
					</td>
					<td>
						建筑工程(080806)
					</td>
					<td>
						结构力学(二)(02439)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						物理(工)(00420)<br/>线性代数(02198)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						概率论与数理统计(二)(02197)<br/>计算机基础与程序设计(02275)
					</td>
					<td>
						英语(二)(00015)<br/>钢结构(02442)
					</td>
				</tr>
				<tr>
					<td>
						36
					</td>
					<td>
						城镇规划与建设(080811)
					</td>
					<td>
						土地利用规划(00119)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						马克思主义基本原理概论(03709)<br/>土木工程辅助图形设计(10437)
					</td>
					<td>
						环境系统工程(02468)<br/>建筑经济学(03302)
					</td>
					<td>
						英语(二)(00015)<br/>建筑力学与结构(03303)
					</td>
				</tr>
				<tr>
					<td>
						37
					</td>
					<td>
						工业工程(082205)
					</td>
					<td>
						现代制造系统(02633)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						物理(工)(00420)<br/>生产管理与质量工程(02647)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						概率论与数理统计(二)(02197)<br/>企业经营战略与市场营销(02897)
					</td>
					<td>
						英语(二)(00015)<br/>基础工业工程(02629)
					</td>
				</tr>
				<tr>
					<td>
						38
					</td>
					<td>
						计算机信息管理(082208)
					</td>
					<td>
						运筹学基础(02375)<br/>信息资源管理(02378)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						马克思主义基本原理概论(03709)
					</td>
					<td>
						管理经济学(02628)
					</td>
					<td>
						英语(二)(00015)<br/>操作系统概论(02323)<br/>计算机网络原理(04741)
					</td>
				</tr>
				<tr>
					<td>
						39
					</td>
					<td>
						工程造价管理(082231)
					</td>
					<td>
						中国近现代史纲要(03708)<br/>工程经济学(04624)<br/>工程项目管理(06087)
					</td>
					<td>
						马克思主义基本原理概论(03709)<br/>线性代数(经管类)(04184)<br/>房屋建筑工程概论(08984)
					</td>
					<td>
						土木工程制图(02386)<br/>概率论与数理统计(经管类)(04183)
					</td>
					<td>
						英语(二)(00015)<br/>建设工程工程量清单计价实务(04228)
					</td>
				</tr>
				<tr>
					<td>
						40
					</td>
					<td>
						汽车服务工程(082232)
					</td>
					<td>
						中国近现代史纲要(03708)<br/>汽车鉴定与评估(04444)
					</td>
					<td>
						马克思主义基本原理概论(03709)<br/>汽车安全技术(04445)
					</td>
					<td>
						汽车营销与贸易(04446)
					</td>
					<td>
						英语(二)(00015)
					</td>
				</tr>
				<tr>
					<td>
						41
					</td>
					<td>
						护理学(100702)
					</td>
					<td>
						内科护理学(二)(03202)<br/>中国近现代史纲要(03708)
					</td>
					<td>
						计算机应用基础(00018)<br/>精神障碍护理学(03009)<br/>预防医学(二)(03200)<br/>马克思主义基本原理概论(03709)
					</td>
					<td>
						公共关系学(00182)<br/>护理教育导论(03005)<br/>护理学导论(03201)<br/>老年护理学(04435)
					</td>
					<td>
						英语(二)(00015)<br/>社区护理学(一)(03004)<br/>急救护理学(03007)
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
    $(function () {
        $("#txtBeginDate").calendar({
            controlId: "divDate",                  // 弹出的日期控件ID，默认: $(this).attr("id") + "Calendar"
            speed: 200,                            // 三种预定速度之一的字符串("slow", "normal", or "fast")或表示动画时长的毫秒数值(如：1000),默认：200
            complement: true,                      // 是否显示日期或年空白处的前后月的补充,默认：true
            readonly: true,                        // 目标对象是否设为只读，默认：true
            upperLimit: new Date(),                // 日期上限，默认：NaN(不限制)
            lowerLimit: new Date("1900/01/01"),    // 日期下限，默认：NaN(不限制)
            callback: function () {                // 点击选择日期后的回调函数
                // alert("您选择的日期是：" + $("#txtBeginDate").val());
            }
        });
        $("#txtEndDate").calendar();
    });
	</script>
	<script type="text/javascript">
			function showTime(){ 
	            var date = new Date();            //获取时间对象
	            var year = date.getFullYear();    //获取年
	            var month = date.getMonth()+1;    //获取月份。获取的月份比真实的月份少一个月。所以这里得+1 
	            var day = date.getDate();         //获取日
	            var week = date.getDay();         //返回0--6。当中0表示星期天，1--6代表星期一到星期六
	            var weekStr="未知"; 
	            var hours = date.getHours();      //获取时（24小时制)
	            var minutes = date.getMinutes();  //获取分
	            var seconds = date.getSeconds();  //获取秒
	            // var milliseconds = date.getMilliseconds();//获得毫秒         
	            //处理星期的显示           
	            switch(week){
	                    case 1:
	                        weekStr="一 "
	                    break;
	                    case 2:
	                        weekStr="二 "
	                    break;
	                    case 3:
	                        weekStr="三 "
	                    break;
	                    case 4:
	                        weekStr="四 "
	                    break;
	                    case 5:
	                        weekStr="五 "
	                    break;
	                    case 6:
	                        weekStr="六 "
	                    break;
	                    default:
	                      weekStr="日 ";
	               }
	            document.getElementById("nowtime").innerHTML = 
	            year + "年" + month + "月" + day + "日 "+"  <span>星期"+weekStr+hours + "</span>:" + minutes + ":" + seconds  
	            // + ":"+ milliseconds; 
	        }
		setInterval("showTime()",10);
	</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?90f54c2f676f3f41d32bbe694d5127bf";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?57ba4d2f63b144692a29b10a3cd5646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?57ba4d2f63b144692a29b10a3cd5646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
</body>
</html>